In [3]:
#import packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import warnings
from sys import modules
import seaborn as sns

warnings.filterwarnings('ignore')
%matplotlib inline

In [94]:
#Data exploration
X_data= pd.read_csv("/Users/eranbarlevy/Downloads/Regression_project_raz/data/X.csv")
y_data = pd.read_csv("/Users/eranbarlevy/Downloads/Regression_project_raz/data/y.csv")

In [144]:
#y_test.to_frame()join(y_pred)
#Copy
X_df = X_data.copy()
y_df = y_data.copy()

X_df = X_df.set_index('id')
y_df = y_df.set_index('id')
X_df.head()
y_df.head()

df = X_df.join(y_df, on = 'id') 
print(df.shape) #(5363,13))
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
print(df.shape) #(5363,11))
##[['Gender',"Education Level", "Job Title",'Country','Race']] Category
df = df[['Age','Years of Experience','height','weight','professionalism']]
print(df.shape)
df.head()

(5363, 13)
(5363, 11)
(5363, 5)

       Age  Years of Experience    height     weight  professionalism
id
2477  52.0                 24.0  1.800316  95.021957           1150.0
76    52.0                 23.0  2.451414  87.456039           1100.0
64    27.0                  2.0  1.917509  56.997108             26.0
924   32.0                 11.0  2.160562  61.403169            279.0
242   39.0                 11.0  1.794105  72.049210            380.0

In [140]:
#Explore nulls

nulls = pd.DataFrame(df.isna().sum())
nulls

                     0
Age                  4
Gender               4
Education Level      3
Job Title            2
Years of Experience  3
Country              0
Race                 0
height               0
weight               2
professionalism      3
Salary               5

In [143]:

df = nulls.dropna()
df.shape
df
#df = df.isna().sum()

#print(df.info())
#print(df.shape)
#df.describe().T

                     0
Age                  4
Gender               4
Education Level      3
Job Title            2
Years of Experience  3
Country              0
Race                 0
height               0
weight               2
professionalism      3
Salary               5

In [69]:



X_train, X_test = train_test_split(X_data, random_state=5, test_size=0.2)
y_train, y_test = train_test_split(y_data, random_state=5, test_size=0.2)

#[['Gender',"Education Level", "Job Title",'Country','Race']] Category
X_train = X_train[['Age','Years of Experience','height','weight','professionalism']]
X_test = X_test[['Age','Years of Experience','height','weight','professionalism']]
#index
'id'
y_train = y_train["Salary"]
y_test = y_test["Salary"]

In [70]:


X_data.head()
X_data.value_counts()#(5357)
X_train.shape #(4290,6)
X_test.shape  #(1073,6)
y_train.shape #(4290,)
y_test.shape  #(1073,)

(1073,)

In [76]:
#Explore
#nulls
nulls = pd.DataFrame(X_data.isna().sum())
X_data = nulls.dropna()
X_datan = n.isna().sum()
print(n)
df = X_test
print(df.info())
print(df.shape)
df.describe().T

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1073 entries, 3252 to 1781
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1070 non-null   float64
 1   Years of Experience  1072 non-null   float64
 2   height               1073 non-null   float64
 3   weight               1072 non-null   float64
 4   professionalism      1072 non-null   float64
dtypes: float64(5)
memory usage: 50.3 KB
None
(1073, 5)

,count,mean,std,min,25%,50%,75%,max
Age,1070.0,35.013084,7.571290,23.000000,29.000000,33.000000,39.000000,62.000000
Years of Experience,1072.0,9.705690,7.585054,1.000000,5.000000,8.000000,13.000000,120.000000
height,1073.0,2.009614,0.289176,1.500335,1.766639,2.007722,2.269547,2.499548
weight,1072.0,67.195709,18.744776,13.637206,54.656973,64.344683,78.383764,200.000000
professionalism,1072.0,309.405784,296.082423,0.000000,84.000000,216.000000,429.000000,2040.000000

In [90]:
#nulls = print(df.isnull().sum())
nulls = pd.DataFrame(df.isna().sum())
#nulls['ratio'] = nulls / df.shape[0]
#nulls
print(nulls)
n = df.dropna()
n = n.isna().sum()
print(n)
#print(df.groupby('gender').size())
#print(df['gender'].value_counts())
#print(df.groupby('smoking_history').size())

                     0
Age                  3
Years of Experience  1
height               0
weight               1
professionalism      1
Age                    0
Years of Experience    0
height                 0
weight                 0
professionalism        0
dtype: int64

In [71]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print(f"model mse: {mean_squared_error(y_test, y_pred)}")#Base Line
#could not convert string to float: 'M'

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values